<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Law Portal</title>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="page-container">
      <div class="header-container">
          <h1>FIND LAW</h1>
      </div>
      <div class="search-container">
          <div id="error-data" class="error-container">

          </div>
          <div class="search-inputs">
              <button onclick="findLaw()" class="button"><span>Поиск </span></button>
              <input id="input-data" type="text" name="Поиск...">
          </div>
      </div>
      <div id="result-list" class="result-container">

      </div>
  </div>
</body>
</html>