<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{portal.ui.pages.title.index}"></title>
    <script src="/js/jquery.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/constants.js"></script>
    <script src="/js/fragments/header.js"></script>
    <script src="/js/fragments/search_page.js"></script>
    <script src="/js/services/law_services.js"></script>
    <script src="/js/services/localization_services.js"></script>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/elements.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/search_page.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="page_content">
    <div th:replace="~{fragments/search_page :: search_page}"></div>
</div>
</body>
</html>